@use "./modules/bestSellers";
@use "./modules/brands";
@use "./modules/categories";
@use "./modules/contact";
@use "./modules/contactModal";

@use "./modules/dealWeek";
@use "./modules/header";
@use "./modules/newArrivals";
@use "./modules/newsletters";

@import "./partials/variables";
@import "./partials/fonts";

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: $bodyBg;
}
footer {
  padding: 0 $desktop-padding;
  background-color: $bodyBgDark;
  .release {
    font-size: 14px;
    position: relative;
    right: 0;
    color: $txtCol-Dark;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
