@mixin d-flex($align: center, $justify: center) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin menu-animate-out($y-pos) {
    opacity: 0;
    pointer-events: none;
    transition: all ease-in-out 0.1s;
    transform: translateY($y-pos);
}

@mixin menu-animate-in($y-pos) {
    opacity: 1;
    pointer-events: all;
    transform: translateY($y-pos);
}
@mixin banner($urlImage, $height:100vh) { 
    position: relative;
    background: url($urlImage);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: $height;
}
