$bodyBg: #e0e0e0;
$txtCol: #212121;

$bodyBg-Dark: #000020;
$txtCol-Dark: #d4caec;

$txtCol-70: rgba(33, 33, 33, 0.7);
$txtCol-50: rgba(33, 33, 33, 0.5);

$yellow: #ffc300;
$red: #ff0033;
$gree: #00cc33;
$orange: #ff5733;
$magent: #c70039;
$crimso: #900c3f;
$white: #ffffff;

$desktop-padding: 10%;
