@use "./navbar";
@use "./toolbar";

@import "../partials/variables";
@import "../partials/mixins";
@import "../partials/extends";

header {
    margin-bottom: 50px;
    .home {
        $urlImage: "../../assets/img/banner-home-D.jpg"; 
        @include banner($urlImage, 82vh);

        .content {
            position: absolute;
            left: 0;
            top: 50%;

            padding: 0 $desktop-padding;
            transform: translateY(-50%);
            width: 80%;
            .tags {
                color: $txtCol;
                @extend %Poppins;
                margin-bottom: 30px;
            }
            .advertising {
                color: $txtCol;
                @extend %Poppins;
                font-size: 75px;
                font-weight: 400;
                line-height: 75px;
                opacity: 0.95;
                margin-bottom: 30px;
            }
            button {
                font-size: 16px;
                padding: 10px 25px;
                @include buttonAction($white, $red-l, $red);
            }
        }
    }

    @include tablets() {
        nav {
            position: fixed;
            top: 0;
            left: 0;

            width: 100%;
            z-index: 30;
        }
        .home {
            $urlImage: "../../assets/img/banner-home-SMD.webp"; 
            @include banner($urlImage, 100vh);
            margin-top: 99px;
        }
    }
    @include semiTablets() {
        nav {
        }
    }
}
