@import "../partials/variables";
@import "../partials/mixins";
@import "../partials/extends";

.navbar {
    position: relative;

    background-color: $white;
    padding: 0 $desktop-padding;
    height: 90px;
    width: 100%;
    z-index: 5;
    @include d-flex(center, space-between);
    .brand {
        a {
            color: $txtCol;
            @extend %Poppins;
            font-size: 25px;
            font-weight: 500;
            span {
                color: $red;
                font-weight: 900;
            }
        }
    }

    .content {
        position: relative;
        height: 100%;
        gap: 20px;
        @include d-flex();
        .menu {
            @include d-flex();
            gap: 15px;
            li {
                pointer-events: all;
                a {
                    color: $txtCol;
                    font-size: 14px;
                    transition: all ease-in-out 0.1s;
                    &:hover {
                        color: $red;
                    }
                }
            }
        }
        .tools {
            gap: 20px;
            @include d-flex();
            .search {
                @include d-flex();
                height: 100%;
                input {
                    border: none;
                    outline: none;
                    height: 25px;
                    text-align: center;
                    font-size: 16px;
                }
                span {
                    display: inline-block;
                    background-color: $bodyBgDark;
                    border-radius: 0 5px 5px 0;
                    color: $white;
                    padding: 1px 8px;
                    line-height: 25px;
                    font-size: 18px;
                }
            }
            .cart {
                position: relative;
                &:hover {
                    .cart__list {
                        @include menu-animate-in(100%);
                    }
                }
                span {
                    color: $txtCol-70;
                    cursor: pointer;
                    font-size: 40px;
                }
                .items {
                    position: absolute;
                    top: -10px;
                    right: -15px;
                    height: 25px;
                    width: 25px;

                    color: $white;
                    font-size: 14px;
                    line-height: 25px;
                    text-align: center;

                    background-color: $red;
                    clip-path: circle();
                }
                &__list {
                    position: absolute;
                    bottom: 0px;
                    right: -20px;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    min-height: 150px;
                    width: 280px;

                    background-color: $white;
                    @include menu-animate-out(113%);

                    &-items {
                        color: $txtCol-70;
                        display: flex;
                        height: calc(100% - 40px);
                        justify-content: center;
                        padding-top: 20px;

                        table {
                            width: 100%;
                            th {
                                text-transform: capitalize;
                                font-size: 12px;
                            }

                            td {
                                text-align: center;
                                &.image {
                                    width: 50px;
                                    img {
                                        width: 50px;
                                    }
                                }
                                &.name {
                                    width: 60px;
                                    font-size: 12px;
                                }
                                &.price {
                                    width: 65px;
                                    font-size: 12px;
                                }
                                &.count {
                                    width: 50px;
                                    font-size: 12px;
                                }
                                &.remove {
                                    width: 50px;
                                    a {
                                        display: block;
                                        background-color: $red-l;
                                        clip-path: circle();
                                        color: $white;
                                        line-height: 20px;
                                        width: 20px;
                                        height: 20px;
                                        font-weight: 500;
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                    button {
                        font-size: 14px;
                        font-weight: 500;
                        height: 40px;
                        @include buttonAction($white, $red-l, $red, 0);
                    }
                }
            }
        }
    }

    .menu-icon {
        display: none;
    }

    @include semiDesktop() {
        height: 90px;
    }
    @include tablets() {
        height: 60px;
        .content {
            flex-direction: row-reverse;
            .menu {
                position: fixed;
                top: 0;
                left: 0;
                transform: translateY(100px) translateX(100%);
                @include d-flex();
                flex-direction: column;

                background-color: $white;
                height: calc(100vh - 100px);
                transition: all ease 0.4s;
                width: 100%;
                li {
                    a {
                        font-size: 24px;
                    }
                }
                &.show {
                    transform: translateY(100px) translateX(0);
                }
            }
            .tools {
                .cart {
                    span {
                        font-size: 35px;
                    }
                    .items {
                        top: -5px;
                        right: -20px;
                        height: 22px;
                        width: 22px;

                        font-size: 12px;
                        line-height: 22px;
                    }
                }
            }
        }
        .menu-icon {
            color: $txtCol-70;
            font-size: 30px;
            display: block;
        }
    }
    @include semiTablets() {
        .brand {
            a {
                font-size: 18px;
            }
        }
        .content {
            .menu {
                height: calc(100vh - 120px);
                transform: translateY(120px) translateX(100%);
                &.show {
                    transform: translateY(120px) translateX(0);
                }
            }
            .tools {
                gap: 5px;
                justify-content: flex-start;
                .search {
                    input {
                        width: 130px;
                    }
                }
            }
        }
    }
    @include mobiles() {
        height: 75px;
        .brand {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            a {
                font-size: 22px;
            }
        }
        .content {
            align-items: flex-end;
            .menu {
                height: calc(100vh - 135px);
                transform: translateY(135px) translateX(100%);
                &.show {
                    transform: translateY(135px) translateX(0);
                }
            }
        }
        .menu-icon {
            align-self: flex-end;
            height: 35px;
        }
    }
}
