@import "../partials/variables";
@import "../partials/mixins";
@import "../partials/extends";

.arrivals {
    padding: 0 $desktop-padding;
    margin: 80px 0;
    width: 100%;
    .title {
        @extend %sectionTitle;
    }
    .tab-menu {
        display: flex;
        justify-content: center;
        margin: 30px 0;
        li {
            color: $txtCol-70;
            cursor: pointer;
            display: block;
            font-weight: 600;
            background-color: $white;
            border: solid 1px $gray-l;
            padding: 10px 30px;
            transition: all ease-in-out 0.1s;
            @extend %Poppins;

            &:hover {
                color: $white;
                background-color: $red-l;
                border: solid 1px $red-l;
            }
            &.active {
                color: $white;
                background-color: $red-l;
                border: solid 1px $red-l;
                &:hover {
                    background-color: $red;
                    border: solid 1px $red;
                }
            }
        }
    }

    &-products {
        flex-wrap: wrap;
        margin: 50px 0;
        @include d-flex(center, flex-start);

        .product {
            margin: 0 .5%;
            @include productCard(19%, $txtCol-30);
        }
    }

    @include tablets() {
        &-products {   
            .product {
                width: 24%;
            }
        }
    }

    @include semiTablets() {
        &-products {
            .product {
                width: 32%;
            }
        }
    }
    @include mobiles() {
        .tab-menu {
            li {
                padding: 5px 10px;
                font-size: 14px;
            }
        }
        &-products {
            .product {
                width: 49%;
            }
        }
    }
}
