@import "../partials/variables";
.toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  padding: 0 $desktop-padding;

  background-color: $bodyBg-Dark;

  .endorsement {
    color: $txtCol-Dark;
    background-color: none;
    font-size: 14px;
    line-height: 40px;
    opacity: 0.7;
  }

  .content {
    display: flex;

    .menu_badge {
      font-weight: 300;
      max-height: 100%;
      position: relative;
      width: 90px;
      z-index: 10;

      &:hover {
        .items {
          transform: translateY(0);
          opacity: 1;
          pointer-events: all;
        }
      }

      .badge_value {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        color: $txtCol-Dark;
        cursor: pointer;
        font-size: 14px;
        line-height: 40px;
        opacity: 0.7;
        text-align: center;
      }

      .items {
        position: relative;
        z-index: 10;

        text-align: center;
        width: 100%;

        background-color: $white;
        opacity: 0;
        pointer-events: none;
        transition: all ease-in-out 0.1s;
        transform: translateY(10px);

        li {
          color: $txtCol;
          cursor: pointer;
          padding: 15px 0;
          border-bottom: solid 1px $bodyBg;

          &:hover {
            color: $red;
          }
        }
      }
    }

    .menu_lang {
      border-right: 1px solid rgba(212, 202, 236, 0.4);
      border-left: 1px solid rgba(212, 202, 236, 0.4);
      max-height: 100%;
      font-weight: 300;
      position: relative;
      z-index: 10;
      
      &:hover {
        .items {
          opacity: 1;
          pointer-events: all;
          transform: translateY(0);
        }
      }

      .lang_value {
        display: flex;
        align-items: center;
        justify-content: center;

        color: $txtCol-Dark;
        cursor: pointer;
        font-size: 14px;
        line-height: 40px;
        opacity: 0.7;
        padding: 0 15px;
        text-align: center;
      }

      .items {
        background-color: $white;
        text-align: center;
        width: 100%;

        opacity: 0;
        padding: 0 15px;
        pointer-events: none;
        transition: all ease-in-out 0.1s;
        transform: translateY(10px);
        li {
          color: $txtCol;
          cursor: pointer;
          border-bottom: solid 1px $bodyBg;
          padding: 15px 0;

          &:hover {
            color: $red;
          }
        }
      }
    }

    .menu_acount {
      font-weight: 300;
      max-height: 100%;
      position: relative;
      width: 130px;
      z-index: 10;

      &:hover {
        .items {
          transform: translateY(0);
          opacity: 1;
          pointer-events: all;
        }
      }

      .acount_value {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;

        color: $txtCol-Dark;
        cursor: pointer;
        font-size: 14px;
        line-height: 40px;
        opacity: 0.7;
        text-align: center;
      }

      .items {
        text-align: center;
        width: 100%;

        background-color: $white;
        opacity: 0;
        pointer-events: none;
        transition: all ease-in-out 0.1s;
        transform: translateY(10px);
        li {
          cursor: pointer;
          padding: 15px 0;
          border-bottom: solid 1px $bodyBg;
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            color: $txtCol;
          }
          &:hover {
            a {
              color: $red;
            }
          }
        }
      }
    }
  }
}
